In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("../module_1"))

['.ipynb_checkpoints', 'data.csv', 'millioner_answer.ipynb', 'millioner_decision.ipynb']

In [3]:
data = pd.read_csv('../module_1/data.csv')

In [4]:
data.head(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015

In [186]:
# question 1

data[data.budget == data.budget.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010

In [187]:
# question 2

data[data.runtime == data.runtime.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003

In [188]:
# question 3

data[data.runtime == data.runtime.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011

In [189]:
# question 4

data.runtime.mean()

109.65343915343915

In [190]:
# question 5

data.runtime.median()

106.5

In [5]:
# add column containing profit
data['profit'] = data.revenue - data.budget

In [192]:
# question 6

data[data.profit == data.profit.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847

In [193]:
# question 7

data[data.profit == data.profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

In [194]:
# question 8

data.profit[data.profit > 0].count()

1478

In [195]:
# question 9

data[data.revenue == data[data.release_year ==2008].revenue.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

In [196]:
# question 10

data[data.profit == data[(2012<=data.release_year) & (data.release_year<=2014)].profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090

In [6]:
# question 11

pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts()[:3]

Drama       782
Comedy      683
Thriller    597
dtype: int64

In [7]:
# question 12

pd.DataFrame(data[data.profit>0].genres.str.split('|').tolist()).stack().value_counts()[:3]

Drama       560
Comedy      551
Thriller    446
dtype: int64

In [199]:
# question 13

pd.DataFrame(data.director.str.split('|').tolist()).stack().value_counts()

Steven Soderbergh      13
Ridley Scott           12
Clint Eastwood         12
Robert Rodriguez       11
Steven Spielberg       10
                       ..
Kris Pearn              1
Matthew O'Callaghan     1
Tom Hanks               1
Sergey Bodrov           1
John Herzfeld           1
Length: 998, dtype: int64

In [200]:
# question 14

pd.DataFrame(data[data.profit > 0].director.str.split('|').tolist()).stack().value_counts()

Ridley Scott         12
Steven Soderbergh    10
Clint Eastwood       10
Steven Spielberg     10
Shawn Levy            9
                     ..
Jeff Wadlow           1
Jonathan Dayton       1
Jeff Nichols          1
Joel Zwick            1
Stefen Fangmeier      1
Length: 814, dtype: int64

In [201]:
# question 15

data.groupby(['director'])['profit'].sum().sort_values(ascending = False)

director
Peter Jackson            5202593685
David Yates              3379295625
Christopher Nolan        3162548502
J.J. Abrams              2839169916
Michael Bay              2760938960
                            ...
David Bowers|Sam Fell     -84540684
Peter Hyams               -86956545
Ron Underwood             -92896027
James L. Brooks           -96289726
Sngmoo Lee               -413912431
Name: profit, Length: 958, dtype: int64

In [11]:
# question 16

c = Counter()                                                                                
for i in range(0, len(data)):
    for actor in data.cast.iloc[i].split('|'):
        c[actor] += data.profit.iloc[i]
print(c.most_common(3))

[('Emma Watson', 6666245597), ('Daniel Radcliffe', 6514990281), ('Rupert Grint', 6408638290)]

In [12]:
# question 17

c = Counter()                                                                                  
for i in range(0, len(data)):
    for actor in data.cast.iloc[i].split('|'):
        if data.release_year.iloc[i]==2012:
            c[actor] += data.profit.iloc[i]
print(c.most_common()[-1])

('Kirsten Dunst', -68109207)

In [203]:
# question 18

data_budget_mean = data[data.budget > data.budget.mean()]                                         
pd.DataFrame(data_budget_mean.cast.str.split('|').tolist()).stack().value_counts()

Matt Damon          18
Adam Sandler        17
Angelina Jolie      16
Eddie Murphy        15
Tom Cruise          15
                    ..
Rachel Hurd-Wood     1
Brooklyn Decker      1
Angourie Rice        1
Charlie Cox          1
Daniel Day-Lewis     1
Length: 1508, dtype: int64

In [204]:
# question 19

data_Cage = data[data.cast.str.contains('Nicolas Cage', na=False)]                                 
pd.DataFrame(data_Cage.genres.str.split('|').tolist()).stack().value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Romance             1
Horror              1
dtype: int64

In [346]:
# question 20

pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().value_counts()

Universal Pictures                        173
Warner Bros.                              168
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
                                         ...
Bourne Again                                1
Provident Films                             1
Fetisov Teterin Films                       1
Underworld Produktions GmbH                 1
Ehman Productions                           1
Length: 1772, dtype: int64

In [347]:
# question 21

pd.DataFrame(data[data.release_year==2015].production_companies.str.split('|').tolist()).stack().value_counts()

Warner Bros.                              12
Universal Pictures                        10
Twentieth Century Fox Film Corporation     8
Paramount Pictures                         7
Columbia Pictures                          7
                                          ..
Fuzzy Door Productions                     1
Vinyl Films                                1
Gran Via Productions                       1
International Traders                      1
Automatik Entertainment                    1
Length: 246, dtype: int64

In [350]:
# question 22
# Create a function that calculate sum by one of columns and respectively another column values

def counter_sum(data, column = 'production_companies', calc_column = 'profit'):                                   
    c = Counter()
    for i in range(0, len(data)):
        for k in data.iloc[i][column].split('|'):
            c[k] += data.iloc[i][calc_column]
    return(c.most_common())

#Then apply the function to a data frame sorted by comedy genre
counter_sum(data[data.genres.apply(lambda x: True if 'Comedy' in x else False)], column='production_companies', calc_column='profit')[:5]

[('Universal Pictures', 8961545581),
 ('Walt Disney Pictures', 7669710326),
 ('Twentieth Century Fox Film Corporation', 5686960294),
 ('Columbia Pictures', 5646343696),
 ('DreamWorks Animation', 4789049764)]

In [208]:
# question 23

counter_sum(data[data.release_year==2012], column = 'production_companies', calc_column='profit')[:5]

[('Columbia Pictures', 2501406608),
 ('Universal Pictures', 1981011579),
 ('Marvel Studios', 1299557910),
 ('Warner Bros.', 1258020056),
 ('Relativity Media', 1032593938)]

In [224]:
# question 24

data_paramount = data[data.production_companies.map(lambda x: True if 'Paramount Pictures' in x else False)]      
data[data.profit == data_paramount.profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
926,tt0267626,0.72233,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034

In [448]:
# question 25

data.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)[:5]

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
Name: profit, dtype: int64

In [449]:
# question 26

data_WB = data[data.production_companies.str.contains('Warner Bros.')]                                            
data_WB.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)[:5]

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

In [5]:
# add new column with release month
data['release_month'] = data.release_date.apply(lambda x: x.split('/')[0])

In [470]:
# question 27

data.release_month.value_counts()[:5]

9     227
12    191
10    186
8     161
3     156
Name: release_month, dtype: int64

In [483]:
# question 28

len(data.query('release_month in ["6", "7", "8"]'))

450

In [11]:
#question 29

pd.DataFrame(data.query('release_month in ["1", "12", "2"]').director.str.split('|').tolist()).stack().value_counts()[:5]

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Shawn Levy           4
Adam Shankman        4
dtype: int64

In [141]:
# question 30

# Create a pivot table sorted by month and year release with profit sum in ell
month_profit = data.pivot_table(values = ['profit'], index = ['release_year'], columns = ['release_month'], aggfunc = 'sum')
month_profit.head(5)

                  profit                                                \
release_month          1         10          11          12          2
release_year
2000           -26344591  399938512   487934818  1411487999  310137593
2001           127876758  146204533  1567240927  1703868124  178360689
2002            13657034  420527680  1190606216  1848074177  557847442
2003           145423503  837090991   609390731  1862594516  422979087
2004           223449403  593314410  1050846495  1106961735  727540831

                                                                         \
release_month          3          4           5           6           7
release_year
2000           490709929  124362846  1382722190   517315528   563809888
2001           396218262  659725033   767934975   780612105   873718941
2002           832386092  343737203  1421928692   747704475   629306797
2003           160261385  479653942  2000292657   406445507  1356384641
2004           307233119  275005057  2412578839  1294266591   834850950


release_month          8          9
release_year
2000           264018332  175306761
2001           726979609   21874909
2002           579318434  417267245
2003           444992536  503313816
2004           332763539  475369751

In [165]:
# Count the number of month with max profit in years
c = Counter()
for year in month_profit.index:
    for month in month_profit.profit.columns:
        if month_profit.profit[month][year] == month_profit.loc[year].max():
            c[month]+=1        
print(c.most_common())

[('6', 7), ('12', 4), ('5', 4), ('7', 1)]

In [177]:
# question 31

companies = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().unique().tolist()     #list of companies
len_mean = []    #list with mean length title films

for company in companies:
    list_len = []    #list with length title films    
    for i in range(0,len(data)):
            if company in data.iloc[i].production_companies:
                    list_len.append(len(data.iloc[i].original_title))  
    len_mean.append(sum(list_len)/len(list_len))   

#Create a series with mean lenth title film and companies
len_film = pd.Series(len_mean, index = companies)  
len_film.sort_values(ascending=False)[:1]

Universal Studios          14.833333
Amblin Entertainment       17.869565
Legendary Pictures         13.411765
Fuji Television Network    12.666667
Dentsu                     13.538462
                             ...
JLT Productions            12.000000
Springwood Productions      5.000000
Capella International      36.000000
KC Medien AG               36.000000
Nora Ephron Productions    10.000000
Length: 1772, dtype: float64

In [206]:
#question 32

companies = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().unique().tolist()    #list of companies
len_mean = []   #list with mean length word in films title 

for company in companies:
    list_len = []    #list with length word in films title
    for i in range(0,len(data)):
            if company in data.iloc[i].production_companies:
                    list_len.append(len(data.iloc[i].original_title.split()))  
    len_mean.append(sum(list_len)/len(list_len))   

len_film = pd.Series(len_mean, index = companies)  
len_film.sort_values(ascending=False)[:1]

Four By Two Productions    12.0
dtype: float64

In [197]:
#question 33

lower_title = data.original_title.apply(lambda x: x.lower().split())
pd.DataFrame(lower_title.tolist()).stack().nunique()

2461

In [219]:
#qestion 34

data[data.vote_average>=np.percentile(data.vote_average.sort_values(ascending = False),99)].original_title

9                                              Inside Out
28                                              Spotlight
34                                                   Room
118                                          Interstellar
119                               Guardians of the Galaxy
124                                            Big Hero 6
125                                    The Imitation Game
128                                             Gone Girl
138                              The Grand Budapest Hotel
155                              The Theory of Everything
177                                The Fault in Our Stars
283                                            Mr. Nobody
316                                              3 Idiots
370                                             Inception
497     The Lord of the Rings: The Fellowship of the Ring
600                                       The Dark Knight
864                 The Lord of the Rings: The Two Towers
873                                           The Pianist
1082        The Lord of the Rings: The Return of the King
1184                              The Wolf of Wall Street
1189                                                  Her
1192                                     12 Years a Slave
1206                                            Prisoners
1214                                   Dallas Buyers Club
1445                                         The Prestige
1564                Eternal Sunshine of the Spotless Mind
1689                                  There Will Be Blood
1801                                              Memento
Name: original_title, dtype: object

In [ ]:
#question 35

pair = Counter()
for i in range(0,len(data)):
    for actor_1 in data.iloc[i].cast.split('|')[:-1]:
        for actor_2 in data.iloc[i].cast.split('|')[data.iloc[i].cast.split('|').index(actor_1) + 1:]:
            if (actor_1 in data.iloc[i].cast) & (actor_2 in data.iloc[i].cast):
                pair[actor_1,actor_2] += 1
print(pair.most_common(1))

In [345]:
#question 36

#Create a function that count the number of elements in column in data with conditions from another data2 
def count_item(data, data2, column = 'director'):
    c=Counter()
    directors = pd.DataFrame(data2.director.str.split('|').tolist()).stack().unique().tolist()     #list of directors
    for i in range(0, len(data)):
        for director in data.iloc[i].director.split('|'):
            if director in directors:
                c[director] += 1
    return(pd.Series(c, index = c.keys()))

profit_s = count_item(data[data.profit > 0],data[data.profit > 0], column = 'director')    # count of films with positive profit of each director
count_s = count_item(data, data[data.profit>0], column = 'director')    #count of film of each director
df=pd.concat([profit_s, count_s],axis = 1)                   
df.columns = ['profit_plus_count','film_count']
df['profit_plus_percentile'] = df.profit_plus_count/df.film_count
df.loc[['Quentin Tarantino','Steven Soderbergh','Robert Rodriguez','Christopher Nolan','Clint Eastwood']]

                   profit_plus_count  film_count  profit_plus_percentile
Quentin Tarantino                  6           7                0.857143
Steven Soderbergh                 10          13                0.769231
Robert Rodriguez                   8          11                0.727273
Christopher Nolan                  8           8                1.000000
Clint Eastwood                    10          12                0.833333